{% extends 'store/base.html' %}

{% block content %}
    <div class=" container box-element mt-4">
        <p>
            We are a company that offer our services online. Our base is in Nairobi, Kenya. We offer real estate services
            like selling home plans, getting your desired plan designed in a short time after submitting all you want done
            and many other services. We also sell other goodies at a very cheap price. Be sure to check out our services
            you will for sure like it.
        </p>
    </div>
{% endblock %}